<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="nav navbar-nav">
      <a routerLink="/home-page" class="nav-item nav-link active">Home</a>
      <a routerLink="/breaking-news" class="nav-item nav-link">Breaking News</a>
      <a routerLink="/latest-technologies" class="nav-item nav-link">Latest Technologies</a>
      <a routerLink="/about-us" class="nav-item nav-link">About Us</a>
      <a class="nav-item nav-link active" routerLink="listar-empleado">Listar Empleados</a>
      <a class="nav-item nav-link active" routerLink="agregar-empleado">Agregar Empleados</a>
</div>
</nav>


  <div class="container" style="width: 100%;">
    <router-outlet></router-outlet>
  </div>
