<body style="background-color: white;" >
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <img src="/assets/images/primer_banner.jpg" class="d-block w-100" alt="Banner Image 1">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="/assets/images/segundo_banner.jpg" class="d-block w-100" alt="Banner Image 2">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="/assets/images/tercer_banner.jpg" class="d-block w-100" alt="Banner Image 3">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container text-center" style="padding-top: 5%;">
  <div class="row">
    <div class="col-sm-4">
      <img src="/assets/images/img1.jpg" class="img-responsive" style="width:100%" alt="Image">
      <p>Un proyecto enseña a los robots a crear nuevas herramientas, como los primeros humanos</p>
    </div>
    <div class="col-sm-4">
      <img src="/assets/images/img1.PNG" class="img-responsive" style="width:100%" alt="Image">
      <p>Elon Musk asegura que en seis meses se implantará el primer chip en un cerebro humano con Neuralink</p>
    </div>
    <div class="col-sm-4">
      <img src="/assets/images/img3.jpg" class="img-responsive" style="width:100%" alt="Image">
      <p>La Policía de San Francisco contará con robots con capacidad de matar</p>
    </div>
  </div>
</div><br>
</body>

<div class="container" style="padding-top: 8%; padding-bottom: 4%; text-align: center;">
  <footer>
    <div>
      <span class="text-muted">&copy; 2022 A.I. News, Inc</span>
    </div>
  </footer>
</div>
